<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Usuário</title>
  <link rel="stylesheet" href="../src/styles/styles.css">
</head>
<body>
  <h2>Cadastro de Usuário</h2>
  <form id="formCadastro">
    <label>Nome Completo: <input type="text" id="nome" required></label>
    <label>Email: <input type="email" id="email"></label>
    <label>Telefone: <input type="tel" id="telefone"></label>
    <label>Foto de Perfil: <input type="text" id="fotoPerfil"></label>
    <label>Escola: <input type="text" id="escola"></label>
    <label>Endereço: <input type="text" id="endereco"></label>
    <label>Nome do Livro: <input type="text" id="nomeLivro"></label>
    <label>Data de Empréstimo: <input type="date" id="dataEmprestimo"></label>
    <label>Data de Devolução: <input type="date" id="dataDevolucao"></label>
    <button type="submit">Salvar</button>
  </form>

  <button id="go-back" class="go-back">Voltar</button>

  <script>
    const { ipcRenderer } = require('electron');

    // Função para enviar o formulário para adicionar um usuário
    document.getElementById('formCadastro').addEventListener('submit', function(event) {
      event.preventDefault();
      
      const dados = {
        fullName: document.getElementById('nome').value,
        emailAddress: document.getElementById('email').value,
        phoneNumber: document.getElementById('telefone').value,
        profilePic: document.getElementById('fotoPerfil').value,
        school: document.getElementById('escola').value,
        address: document.getElementById('endereco').value,
        bookName: document.getElementById('nomeLivro').value,
        loanBookDate: document.getElementById('dataEmprestimo').value,
        returnBookDate: document.getElementById('dataDevolucao').value
      };

      ipcRenderer.send('adicionar-usuario', dados);
    });

    // Recebe a resposta de sucesso ou erro do processo principal
    ipcRenderer.on('adicionar-usuario-resposta', (event, resposta) => {
      if (resposta.sucesso) {
        alert("Usuário cadastrado com sucesso!");
      } else {
        alert("Erro ao cadastrar usuário: " + resposta.erro);
      }
    });
  </script>
</body>
</html>
