<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Biblioteca Municipal de Sairé</title>
  <link rel="stylesheet" href="../src/styles/styles.css">
</head>

<body class="indexBody">
  <h1>Biblioteca Municipal de Sairé</h1>
  <img src="../src/assets/logo_horizontal_gov_saire.png" class="logoPrefeitura" alt="Logo da Prefeitura">
  <nav>
    <h2>Leitores:</h2>
    <button id="go-to-cadastro">Cadastro de leitores</button>
    <button id="go-to-lista">Lista de leitores</button>

    <h2>Livros:</h2>
    <button id="go-to-livros">Livros cadastrados</button>

  </nav>
  <div id="content"></div>

</body>
<footer>
  <div class="autoria">
    <h3>✮ Desenvolvido por André Ivson Lira da Silva ✮</h3>
  </div>
</footer>
<script src="../src/renderer.js"></script>

</html>