<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Biblioteca Municipal de Sairé</title>
  <link rel="stylesheet" href="../src/styles/styles.css">
</head>

<body>
  <h1>Biblioteca Municipal de Sairé</h1>
  <img src="../src/assets/favicon-32x32.png" alt="Logo da Prefeitura">
  <nav>

    <button id="go-to-cadastro">Cadastro</button>
    <button id="go-to-lista">Lista de Usuários</button>
    <button id="go-to-livros">Livros</button>

  </nav>
  <div id="content"></div>

</body>
<script src="../src/renderer.js"></script>

</html>