<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Lista de Usuários</title>
  <link rel="stylesheet" href="../src/styles/listaStyle.css">
</head>

<body>
  <h2>Lista de Usuários</h2>
  <ul id="listaUsuarios"></ul>
  <button onclick="history.back()" class="go-back">Voltar</button>

  <!-- Modal para exibir detalhes do usuário -->
  
  <div id="modalcenter">
    <div id="userDetailsModal" class="modal" style="display: none;">
      <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <h3>Detalhes do Usuário</h3>
        <div id="userDetails"></div> <!-- Aqui vamos adicionar os detalhes, incluindo a foto -->
      </div>
    </div>
  </div>

  <script>
    const { ipcRenderer } = require('electron');

    // Função para listar os usuários
    function listarUsuarios(callback) {
      ipcRenderer.invoke('listar-usuarios').then(callback).catch(console.error);
    }

    // Chama a função listarUsuarios e exibe os usuários na lista
    listarUsuarios((usuarios) => {
      const lista = document.getElementById('listaUsuarios');
      usuarios.forEach((usuario) => {
        const li = document.createElement('li');
        li.textContent = `ID: ${usuario.id}, Nome: ${usuario.fullName}, Email: ${usuario.emailAddress}`;
        li.addEventListener('click', () => mostrarDetalhesUsuario(usuario.id));
        lista.appendChild(li);
      });
    });

    // Função para mostrar detalhes do usuário em um modal
    function mostrarDetalhesUsuario(id) {
      ipcRenderer.invoke('obter-detalhes-usuario', id).then((usuario) => {
        const detalhes = `
          <img src="${usuario.profilePic}" class="user-photo" alt="Foto de Perfil"><br>
          <strong>Nome:</strong> ${usuario.fullName}<br>
          <strong>Email:</strong> ${usuario.emailAddress}<br>
          <strong>Telefone:</strong> ${usuario.phoneNumber}<br>
          <strong>Escola:</strong> ${usuario.school}<br>
          <strong>Endereço:</strong> ${usuario.address}<br>
          <strong>Nome do Livro:</strong> ${usuario.bookName}<br>
          <strong>Data de Empréstimo:</strong> ${usuario.loanBookDate}<br>
          <strong>Data de Devolução:</strong> ${usuario.returnBookDate}<br>
        `;
        document.getElementById('userDetails').innerHTML = detalhes;
        document.getElementById('userDetailsModal').style.display = 'block';
      }).catch(console.error);
    }

    // Fecha o modal de detalhes do usuário
    document.getElementById('closeModal').addEventListener('click', () => {
      document.getElementById('userDetailsModal').style.display = 'none';
    });
  </script>
</body>

</html>
