<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="../src/styles/livrosStyle.css">
</head>

<body>
    <div class="container">
        <h1>Lista de Livros</h1>
        <button id="loadBooks" class="btn-load">Carregar Livros</button>

        <!-- Lista de Livros será gerada dinamicamente -->
        <div class="book-list" id="bookList">
            <!-- Os livros serão inseridos dinamicamente aqui -->
        </div>

        <!-- Navegação de Paginação -->
        <div class="pagination" id="pagination">
            <!-- Botões de páginas serão inseridos dinamicamente aqui -->
        </div>

        <button id="go-back" class="go-back">Voltar</button>
    </div>

    <!-- Referência ao arquivo renderer.js -->
    <script src="../src/renderer.js"></script>
</body>

</html>