/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

/* Título */
h2 {
  color: #333;
  text-align: center;
}

/* Lista de usuários */
#listaUsuarios {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
}

#listaUsuarios li {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#listaUsuarios li:hover {
  background-color: #e0e0e0;
}

/* Botão "Voltar" */
#go-back {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

#go-back:hover {
  background-color: #555;
}

/* Estilo para a imagem do usuário */
.user-photo {
  width: 200px; /* Largura da foto */
  height: 200px; /* Altura da foto */
  border-radius: 50%; /* Deixa a imagem redonda */
  margin-right: 20px; /* Espaço entre a foto e as informações */
  object-fit: cover; /* Garante que a imagem preencha o círculo sem deformar */
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Acima do overlay */
  display: none; /* Inicialmente oculto */
  max-width: 500px; /* Largura máxima */
  width: 90%; /* Largura responsiva */
  box-sizing: border-box; /* Inclui padding no tamanho */
}

/* Modal Content */
.modal-content {
  text-align: left;
}

.user-photo {
  display: block;
  margin: 0 auto 20px auto; /* Centraliza a foto e adiciona margem inferior */
}

#userDetails {
  font-size: 1em;
  line-height: 1.5; /* Melhor espaçamento entre linhas */
}

#userDetails strong {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

/* Overlay para escurecer */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
  backdrop-filter: blur(5px); /* Blur aplicado */
  z-index: 999; /* Abaixo do modal */
  display: none; /* Inicialmente oculto */
}

/* Fechar modal */
.close {
  color: rgb(218, 45, 45);
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: grid;
  justify-items: end;
}

.close:hover {
  color: #555;
}

/* Botão de Voltar */
.go-back {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.go-back:hover {
  background-color: #555;
}