/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

/* Título */
h2 {
  color: #333;
  text-align: center;
}

/* Lista de usuários */
#listaUsuarios {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
}

#listaUsuarios li {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#listaUsuarios li:hover {
  background-color: #e0e0e0;
}

/* Botão "Voltar" */
#go-back {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

#go-back:hover {
  background-color: #555;
}

/* Estilos do modal */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  width: auto;
}

/* Conteúdo do modal */
.modal-content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  display: flex;
  text-align: left;
  flex-direction: column;
}

/* Estilo para a imagem do usuário */
.user-photo {
  width: 200px; /* Largura da foto */
  height: 200px; /* Altura da foto */
  border-radius: 50%; /* Deixa a imagem redonda */
  margin-right: 20px; /* Espaço entre a foto e as informações */
  object-fit: cover; /* Garante que a imagem preencha o círculo sem deformar */
}

/* Estilo de carteira de identificação */
.modal-content h3 {
  margin-top: 0;
  color: #333;
  font-size: 1.6em;
  display: grid;
  justify-items: center;
}
#userDetails {
  text-align: left;
  margin-top: 10px;
  font-size: 1.1em; /* Tamanho de fonte mais agradável */
}

#userDetails strong {
  color: #555;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

#userDetails p {
  margin: 5px 0;
}

/* Fechar modal */
.close {
  color: rgb(218, 45, 45);
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: grid;
  justify-items: end;
}

.close:hover {
  color: #555;
}

/* Botão de Voltar */
.go-back {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.go-back:hover {
  background-color: #555;
}