<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Biblioteca Municipal de Sairé</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <h1>Biblioteca Municipal de Sairé</h1>
  <img src="../assets/favicon-32x32.png" alt="Logo da Prefeitura">
  <button id="btnCadastro">Cadastro de Usuário</button>
  <button id="btnLista">Lista de Usuários</button>
  <button id="btnLivros">Lista de Livros</button>

</body>
<script src="../renderer.js"></script>
</html>